footer {
    font-size: 0.9rem;
}

footer a {
    color: #fff;
}

.copyright {
    border-top: 1px solid rgba(255, 255, 255, 0.51);
    margin-top: 1rem;
    padding-top: 1rem;
}

ul.CompanyInfo {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

ul.CompanyInfo li {
    display: inline-block;
    padding-right: 15px;
}

ul.CompanyInfo li+li:afrer {
    content: '｜';
}

ul.menuList {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: end;
}

ul.menuList li {
    display: inline-block;
    padding-left: 15px;
}

@media(max-width:991px) {
    footer{
        text-align: center;
        font-size: 1rem;
    }
    ul.CompanyInfo {
        flex-direction: column;
        align-items: center;
        /* margin-bottom: 10%; */
        
    }
    ul.CompanyInfo li{
        line-height: 1.8;
    }


    ul.menuList{
        /* justify-content: center; */
        display: none;
    }

    .copyright{
        font-size: 0.8rem;
    opacity: 0.6;
    }

}