@charset "UTF-8";

body {
    background-color: #eee;
    /* width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between; */

}

.pageBanner {
    background-image: url(../images/banner-page-bg.jpg);
    background-size: cover;
    background-position: center;
    color: #fff;
    padding-top: 10%;
}

.pageBanner .unitTitle small {
    color: #fff;
}

.subTitle {
    padding-bottom: 20px;
    margin-bottom: 2rem;
}

.categoryList {
    list-style: none;
    margin: 0;
    padding: 0;
    line-height: 2;
}

.categoryList a {
    color: #333;
    transition: all 0.5s;
    display: block;
    padding: 3px 0;

}
.categoryList a::before{
    content: '-';
    display: inline-block;
    padding-right: 5px;
}

.categoryList a:hover{
    font-weight: bold;
    color: var(--main-color);
    letter-spacing: 2px;
    transition: all 0.5s;
}


/*漢堡導覽選單  breadcrumbs-area */
.breadcrumbs-area {
    padding-right: 0;
    margin-bottom: 2rem;
}

.breadcrumbs-list {
    text-align: right;
    padding: 0;
    margin: 0;
}

.breadcrumbs-list li {
    display: inline-block;
    line-height: 1.4;
}

.breadcrumbs-list a {
    display: inline-block;
    position: relative;
    margin-right: 15px;
    padding-right: 20px;
    color: #fff;
}

.breadcrumbs-list li a::after {
    display: block;
    content: '';
    position: absolute;
    top: 50%;
    right: 0;
    width: 7px;
    height: 7px;
    margin-top: -1px;
    border: 0px;
    border-top: solid 2px #fff;
    border-right: solid 2px #fff;
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.breadcrumbs-list li:last-child a::after {
    display: none;
}



@media(max-width:991px) {
    .pageBanner {
        padding-top: 40%;
        padding-bottom: 0;
        margin-bottom: 10%;
    }

    .unitTitle {
        text-align: center;
    }

    .breadcrumbs-area {
        padding-top: 10px;
        position: absolute;
        top: 100%;
        margin-bottom: 0;
        color: #000;
    }

    .breadcrumbs-list a {
        color: #000;
    }

    .breadcrumbs-list li a::after {
        border-color: #000;
    }

    .subTitle{
        margin-top: 3rem !important;
    }
}




.contentBox img {
    width: 100% !important;
    margin-bottom: 1rem;

}

.contentBox .title {
    font-size: 1.2rem;
    display: inline-block;
    background-color: var(--main-color);
    padding:5px 30px;
    color: #fff;
    margin-top: 3rem;
    margin-bottom: 1rem;
}